@keyframes title {
    from{color: yellow;}
    to{color: rgb(128, 17, 0);}
}
h1{
    font-size: 100px;
    animation-name: title;
    animation-duration:5s ;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: khaki;
}
.jumpsquare{
    width: 200px;
    height: 200px;
    background-color: green;
    animation-name: jump;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
@keyframes jump {
    0%{
        transform: scale(0,0);
    }
    20%{
        transform: scale(2,2) ;
        
    }
    50%{
        transform: translate(500px,50px);
    }
    80%{
         transform: rotateY(180deg) ;
    }
    100%{
         background-color: hotpink;
    }
}
.item1{
    width: 20px;
    height: 30px;
    background-color: green;
    margin: 10px;
    animation-name: example1;
    animation-duration: 3s;
    animation-delay: 0s;
}
.item2{
    width: 20px;
    height: 30px;
    background-color: green;
    margin: 10px;
    animation-name: example2;
    animation-duration: 3s;
    animation-delay: 3s;
}
.item3{
    width: 20px;
    height: 30px;
    background-color: green;
    margin: 10px;
    animation-name: example3;
    animation-duration: 3s;
    animation-delay: 6s;
}
.item4{
    width: 20px;
    height: 30px;
    background-color: green;
    margin: 10px;
    animation-name: example4;
    animation-duration: 3s;
    animation-delay: 9s;
}
@keyframes example1 {
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.2,1.5);
    }
    100%{
        transform:  translatex(-10px);
        
    }
}
@keyframes example2 {
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.2,1.5);
    }
    100%{
        transform: scale(0,0);
    }
}
@keyframes example3 {
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.2,1.5);
    }
    100%{
        transform: scale(0,0);
    }
}
@keyframes example4 {
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.2,1.5);
    }
    100%{
        transform: scale(0,0);
    }
}
